<%= form_for(@queue_post) do |f| %>
  <% if @queue_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@queue_post.errors.count, "error") %> prohibited this queue_post from being saved:</h2>

      <ul>
      <% @queue_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :acc_setting %><br>
    <%= f.text_field :acc_setting %>
  </div>
  <div class="field">
    <%= f.label :pool_post %><br>
    <%= f.text_field :pool_post %>
  </div>
  <div class="field">
    <%= f.label :post_type %><br>
    <%= f.number_field :post_type %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :extra_content %><br>
    <%= f.text_field :extra_content %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :image_file %><br>
    <%= f.text_field :image_file %>
  </div>
  <div class="field">
    <%= f.label :image_link %><br>
    <%= f.text_field :image_link %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :other_field %><br>
    <%= f.text_field :other_field %>
  </div>
  <div class="field">
    <%= f.label :schedule_time %><br>
    <%= f.datetime_select :schedule_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
