<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="<%= root_path %>">SocialManager</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li <%= 'class="active"'.html_safe if @active_page == "Home" %>><%= link_to 'Home', home_index_path %></li>
					<li <%= 'class="active"'.html_safe if @active_page == "Performance" %>><%= link_to 'Performance', performance_index_path %></li>
					<li class="dropdown <%= 'active' if @active_page == "RSS" or @active_page == "Web" or @active_page == "Social" %>">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Pool
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li <%= 'class="active"'.html_safe if @active_page == "RSS" %>><%= link_to 'RSS', pool_rss_path %></li>
							<li <%= 'class="active"'.html_safe if @active_page == "Web" %>><%= link_to 'Web', pool_web_path %></li>
							<li <%= 'class="active"'.html_safe if @active_page == "Social" %>><%= link_to 'Social', pool_social_path %></li>
						</ul>
					</li>
					<li <%= "class=active" if @active_page == "Queue" %>><%= link_to 'Queue', queue_index_path %></li>
					<li class="dropdown <%= 'active' if @active_page == "Accounts" or @active_page == "Tags" or @active_page == "Modules" %>">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Admin
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li <%= 'class="active"'.html_safe if @active_page == "Accounts" %>><%= link_to 'Accounts', accounts_path %></li>
							<li <%= 'class="active"'.html_safe if @active_page == "Tags" %>><%= link_to 'Tags', tags_path %></li>
							<li <%= 'class="active"'.html_safe if @active_page == "Modules" %>><%= link_to 'Modules', smodules_path %></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>