<%= render "shared/menu" %>

<div class="container">

  <h1>Modules Management <%= link_to 'New Module', new_smodule_path, class: "btn btn-primary" %></h1>

  <% if flash[:alert]%>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> <%= flash[:alert] %>
  </div>
  <% end %>
  <% if flash[:notice]%>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice:</strong> <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="row-fluid">
    <div class="main-wrapper">
      <% @smodules.each do |smodule| %>
      <span class="label label-info"><%= smodule.name %> <%= link_to "&times;".html_safe, smodule, method: :delete, data: { confirm: 'Are you sure?' }, class: "close" %></span>
      <% end %>
    </div>
  </div>

</div> 