<h1>Edit pool_post</h1>

<form id="edit-pool_post" name="pool_post">
  <div class="field">
    <label for="account_id"> account_id:</label>
    <input type="text" name="account_id" id="account_id" value="<%= account_id %>" >
  </div>

  <div class="field">
    <label for="pool_post_type_id"> pool_post_type_id:</label>
    <input type="text" name="pool_post_type_id" id="pool_post_type_id" value="<%= pool_post_type_id %>" >
  </div>

  <div class="field">
    <label for="site_id"> site_id:</label>
    <input type="text" name="site_id" id="site_id" value="<%= site_id %>" >
  </div>

  <div class="field">
    <label for="hidden"> hidden:</label>
    <input type="text" name="hidden" id="hidden" value="<%= hidden %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="tags"> tags:</label>
    <input type="text" name="tags" id="tags" value="<%= tags %>" >
  </div>

  <div class="field">
    <label for="image_file"> image_file:</label>
    <input type="text" name="image_file" id="image_file" value="<%= image_file %>" >
  </div>

  <div class="field">
    <label for="image_link"> image_link:</label>
    <input type="text" name="image_link" id="image_link" value="<%= image_link %>" >
  </div>

  <div class="field">
    <label for="link"> link:</label>
    <input type="text" name="link" id="link" value="<%= link %>" >
  </div>

  <div class="field">
    <label for="social_score"> social_score:</label>
    <input type="text" name="social_score" id="social_score" value="<%= social_score %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Pool post" />
  </div>

</form>

<a href="#/index">Back</a>