<td>
  <div class="pool-post">
    <p><%= title %></p>
    <% if(image_file) { %>
      <div><img src="../images/postimg/rss/<%= image_file %>" alt="[Image not found]"></div>
    <% } else { %>
      <div><p>[No Image]</p></div>
    <% } %>
    <p><%= created_at.substring(0,19).replace("T"," ") %></p>
  </div>
  <a href="#" class="btn btn-mini hide-trigger">Hide</a>

  <!-- Modal -->

    <div id="myModal<%= id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="myModalLabel">Edit Post</h3>
      </div>
      <div class="modal-body">
        <form class="form">
          <input type="hidden" class="pool_post_account_id" name="pool_post[account_id]" value="<%= account_id %>" />
          <input type="hidden" class="pool_post_pool_post_type_id" name="pool_post[pool_post_type_id]" value="<%= pool_post_type_id %>" />
          <div class="control-group hide">
            <label class="control-label" for="pool_post_site" style="display: inline">Site</label>
            <div class="controls" style="display: inline"><select class="pool_post_site_id" name="pool_post[site_id]">
              <option value="">Please select a site</option>
            <% for(var i=0; i<sites.length; i++) {%>
              <option value="<%= sites[i].id %>" <% if (sites[i].id == site_id) { %><%= 'selected' %><% } %>><%= sites[i].domain %></option>
            <% } %>
            </select></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pool_post_title" style="display: inline">Title</label>
            <div class="controls" style="display: inline"><input class="pool_post_title" name="pool_post[title]" type="text" value="<%= title %>" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pool_post_description">Description</label>
            <div class="controls"><textarea class="pool_post_description" name="pool_post[description]" rows="3" style="width: 500px"><%= description %>
        </textarea></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pool_post_content">Content</label>
            <div class="controls"><textarea class="pool_post_content" name="pool_post[content]" rows="4" style="width: 500px"><%= content %>
        </textarea></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pool_post_tags" style="display: inline">Tags</label>
            <div class="controls" style="display: inline"><input class="pool_post_tags" name="pool_post[tags]" type="text" value="<%= tags %>" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pool_post_image_file" style="display: inline">Image file</label>
            <div class="controls" style="display: inline"><input class="pool_post_image_file" name="pool_post[image_file]" type="text" value="<%= image_file %>" />
            <% if(image_file) { %>
              <div><br><img src="../images/postimg/rss/<%= image_file %>" alt="[Image not found]"></div>
            <% } else { %>
              <div><br><p>[No Image]</p></div>
            <% } %>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="pool_post_image_link" style="display: inline">Image link</label>
            <div class="controls" style="display: inline"><input class="pool_post_image_link" name="pool_post[image_link]" type="text" value="<%= image_link %>" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pool_post_link" style="display: inline">Link</label>
            <div class="controls" style="display: inline"><input class="pool_post_link" name="pool_post[link]" type="text" value="<%= link %>" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pool_post_social_score" style="display: inline">Social score</label>
            <div class="controls" style="display: inline"><input class="pool_post_social_score" name="pool_post[social_score]" type="number" value="<%= social_score %>" /></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary save-change">Save changes</button>
      </div>
    </div>


</td>
<!-- twitter -->
<td class="forward-cell twitter">
<% if (posted_smodule.indexOf('twitter') > -1) { %>
  posted
<% } else { %>
  <p><a href="#" class="btn btn btn-primary link">Link</a></p>
  <% if (image_file) { %>
    <p><a href="#" class="btn btn btn-primary image">Image</a></p>
  <% } %>
  <p><a href="#" class="btn btn manual">Manual</a></p>
<% } %>
</td>
<!-- facebook -->
<td class="forward-cell facebook">
<% if (posted_smodule.indexOf('facebook') > -1) { %>
  posted
<% } else { %>
  <p><a href="#" class="btn btn btn-primary link">Link</a></p>
  <% if (image_file) { %>
    <p><a href="#" class="btn btn btn-primary image">Image</a></p>
  <% } %>
  <p><a href="#" class="btn btn manual">Manual</a></p>
<% } %>
</td>
<!-- gplus -->
<td class="forward-cell gplus">
<% if (posted_smodule.indexOf('gplus') > -1) { %>
  posted
<% } else { %>
  <p><a href="#" class="btn btn btn-primary link">Link</a></p>
  <% if (image_file) { %>
    <p><a href="#" class="btn btn btn-primary image">Image</a></p>
  <% } %>
  <p><a href="#" class="btn btn manual">Manual</a></p>
<% } %>
</td>
<!-- tumblr -->
<td class="forward-cell tumblr">
<% if (posted_smodule.indexOf('tumblr') > -1) { %>
  posted
<% } else { %>
  <p><a href="#" class="btn btn btn-primary link">Link</a></p>
  <% if (image_file) { %>
    <p><a href="#" class="btn btn btn-primary image">Image</a></p>
  <% } %>
  <p><a href="#" class="btn btn manual">Manual</a></p>
<% } %>
</td>
<!-- pinterest -->
<td class="forward-cell pinterest">
<% if (posted_smodule.indexOf('pinterest') > -1) { %>
  posted
<% } else { %>
  <% if (image_file) { %>
    <p><a href="#" class="btn btn btn-primary image">Pin</a></p>
  <% } %>
  <p><a href="#" class="btn btn manual">Manual</a></p>
<% } %>
</td>
