<p>
  <b>Account:</b>
  <%= account_id %>
</p>

<p>
  <b>Pool post type:</b>
  <%= pool_post_type_id %>
</p>

<p>
  <b>Site:</b>
  <%= site_id %>
</p>

<p>
  <b>Hidden:</b>
  <%= hidden %>
</p>

<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Tags:</b>
  <%= tags %>
</p>

<p>
  <b>Image file:</b>
  <%= image_file %>
</p>

<p>
  <b>Image link:</b>
  <%= image_link %>
</p>

<p>
  <b>Link:</b>
  <%= link %>
</p>

<p>
  <b>Social score:</b>
  <%= social_score %>
</p>


<a href="#/index">Back</a>