<%= render "shared/menu" %>

<div class="container">

	<%= form_tag nil, :method => :get, class: "zeromargin" do %>
	<h1 class="inline">Queue </h1>
	<%= label_tag "account", "Account: ", class: "inline" %>
	<%= select_tag "account", options_from_collection_for_select(Account.all, "id", "name", @account_id), :prompt => 'Please select an account', class: "inline", onchange: "this.form.submit()" %>
	<% end %>

	<% if flash[:alert]%>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Warning!</strong> <%= flash[:alert] %>
	</div>
	<% end %>
	<% if flash[:notice]%>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Notice:</strong> <%= flash[:notice] %>
	</div>
	<% end %>

	<div class="alert onpage-alert hide">
	</div>	

	<% if @account_id != 0%>
	<div class="row-fluid show-grid accordion waterfall" id="accordionacc">
		<% @smodules.each do |smodule| %>
		<% count = QueuePost.where(:acc_setting => AccSetting.find_by(:account => @account, :smodule => smodule), status_id: 1).count %>
		<div class="waterfall-column">
      <div class="waterfall-header <%= smodule.name %>header" data-count="<%= count %>"><%= smodule.name %>: <span class="badge badge-info"><%= count %></span></div>
    </div>
		<% end %>

	</div>
	<% end %>
  <div id="fixedHeader" class="row-fluid show-grid accordion waterfall"></div>
</div> 

<div id="hiddendata" class="hide" data-smodulelist='<%= @smodules.to_json.html_safe %>' data-accsettingsti='<%= @accsettingsti.to_json.html_safe %>'>Hidden data don't touch</div>
