<%= form_for(@site, html: {class: "form-horizontal"}) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :site_category, class: "control-label" %>
    <div class="controls"><%= collection_select :site, :site_category_id, SiteCategory.all, :id, :name, :prompt => 'Please select a site category'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :domain, class: "control-label" %>
    <div class="controls"><%= f.text_field :domain %></div>
  </div>
  <div class="controls">
    <%= f.submit class: "btn btn-primary" %>
    <%= back_link %>
  </div>
<% end %>
