<%= form_for(@account, html: {class: "form-horizontal"}) do |f| %>
<% if @account.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

  <ul>
    <% @account.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="control-group">
  <%= f.label :name, class: "control-label" %>
  <div class="controls"><%= f.text_field :name %></div>
</div>
<div class="control-group">
  <%= f.label :rss_urls, class: "control-label" do %>
    Rss urls <i id="rss_urls_popover" class="icon-question-sign icon-white popoverable"></i>
  <% end %>
  <div class="controls"><%= f.text_field :rss_urls %></div>
</div>
<div class="control-group">
  <%= f.label :active, class: "control-label" %>
  <div class="controls"><%= f.check_box :active %></div>
</div>
<div class="control-group">
  <%= f.label :tag_limit, class: "control-label" %>
  <div class="controls"><%= f.number_field :tag_limit %></div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Back', accounts_url, class: "btn" %>
  </div>
</div>
<% end %>
