<%= form_for(@pool_post, html: {class: "form-horizontal"}) do |f| %>
  <% if @pool_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool_post.errors.count, "error") %> prohibited this pool_post from being saved:</h2>

      <ul>
      <% @pool_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field nil, nil, {:value => @from, :name => 'from'} %>
  <div class="control-group">
    <%= f.label :account, class: "control-label" %>
    <div class="controls"><%= f.text_field :account_id, class: "hide" %><%= f.text_field nil, {:disabled => true, :value => @pool_post.account.name} %></div>
  </div>
  <div class="control-group">
    <%= f.label :pool_post_type, class: "control-label" %>
    <div class="controls"><%= f.text_field :pool_post_type_id, class: "hide" %><%= f.text_field :nil, {:disabled => true, :value => @pool_post.pool_post_type.title} %></div>
  </div>
  <div class="control-group">
    <%= f.label :site, class: "control-label" %>
    <div class="controls"><%= collection_select :pool_post, :site_id, Site.all, :id, :domain, :prompt => 'Please select a site'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :hidden, class: "control-label" %>
    <div class="controls"><%= f.check_box :hidden %></div>
  </div>
  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls"><%= f.text_field :title %></div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls"><%= f.text_area :description %></div>
  </div>
  <div class="control-group">
    <%= f.label :content, class: "control-label" %>
    <div class="controls"><%= f.text_area :content %></div>
  </div>
  <div class="control-group">
    <%= f.label :tags, class: "control-label" %>
    <div class="controls"><%= f.text_field :tags %></div>
  </div>
  <div class="control-group">
    <%= f.label :image_file, class: "control-label" %>
    <div class="controls"><%= f.text_field :image_file %></div>
  </div>
  <div class="control-group">
    <%= f.label :image_link, class: "control-label" %>
    <div class="controls"><%= f.text_field :image_link %></div>
  </div>
  <div class="control-group">
    <%= f.label :link, class: "control-label" %>
    <div class="controls"><%= f.text_field :link %></div>
  </div>
  <div class="control-group">
    <%= f.label :social_score, class: "control-label" %>
    <div class="controls"><%= f.number_field :social_score %></div>
  </div>
  <div class="controls">
    <%= f.submit class: "btn btn-primary" %>
    <%= back_link %>
  </div>
<% end %>
