<p id="notice"><%= notice %></p>

<p>
  <strong>Hidden:</strong>
  <%= @pool_post.hidden %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pool_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pool_post.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @pool_post.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @pool_post.tags %>
</p>

<p>
  <strong>Image file:</strong>
  <%= @pool_post.image_file %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @pool_post.image_link %>
</p>

<p>
  <strong>Link:</strong>
  <%= @pool_post.link %>
</p>

<p>
  <strong>Social score:</strong>
  <%= @pool_post.social_score %>
</p>

<%= link_to 'Edit', edit_pool_post_path(@pool_post) %> |
<%= link_to 'Back', pool_posts_path %>
