<h1>Listing post_data</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Content</th>
      <th>Extra content</th>
      <th>Tags</th>
      <th>Image file</th>
      <th>Link</th>
      <th>Other field</th>
      <th>Data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_data.each do |post_datum| %>
      <tr>
        <td><%= post_datum.type %></td>
        <td><%= post_datum.title %></td>
        <td><%= post_datum.content %></td>
        <td><%= post_datum.extra_content %></td>
        <td><%= post_datum.tags %></td>
        <td><%= post_datum.image_file %></td>
        <td><%= post_datum.link %></td>
        <td><%= post_datum.other_field %></td>
        <td><%= post_datum.data %></td>
        <td><%= link_to 'Show', post_datum %></td>
        <td><%= link_to 'Edit', edit_post_datum_path(post_datum) %></td>
        <td><%= link_to 'Destroy', post_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post datum', new_post_datum_path %>
