<%= render "shared/menu" %>

<div class="container">

  <h1>Tags Management <%= link_to 'New Tag', new_tag_path, class: 'btn btn-primary' %> <%= link_to 'New Site', new_site_path, class: 'btn btn-primary' %> <%= link_to 'New SiteCategory', new_site_category_path, class: 'btn btn-primary' %></h1>

  <% if flash[:alert]%>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> <%= flash[:alert] %>
  </div>
  <% end %>
  <% if flash[:notice]%>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice:</strong> <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="row-fluid">
    <span class="label label-info">
      Totally <%= pluralize(@site_count, 'site') %> | <%= pluralize(@tag_count, 'tag') %>
    </span>
  </div>

  <div class="row-fluid">
    <% i = 0 %>
    <% @site_categories.each do |site_category| %>
    <div class="inlinediv">
      <div class="accordion-heading">
        <%= link_to site_category.name, edit_site_category_path(site_category), class: "accordion-toggle btn btn-info" %>
      </div>
      <div class="accordion-body collapse in">
        <div class="accordion-inner">
          <% site_category.sites.each do |site| %>
          <%= link_to site.domain+': '+pluralize(site.tags.count, 'tag'), site, class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
