<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @tag.site %>
</p>

<p>
  <strong>Str:</strong>
  <%= @tag.str %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
