<%= form_for(@pool_post_type) do |f| %>
  <% if @pool_post_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool_post_type.errors.count, "error") %> prohibited this pool_post_type from being saved:</h2>

      <ul>
      <% @pool_post_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
