<h1>Edit queue_post</h1>

<form id="edit-queue_post" name="queue_post">
  <div class="field">
    <label for="status_id"> status_id:</label>
    <input type="text" name="status_id" id="status_id" value="<%= status_id %>" >
  </div>

  <div class="field">
    <label for="acc_setting_id"> acc_setting_id:</label>
    <input type="text" name="acc_setting_id" id="acc_setting_id" value="<%= acc_setting_id %>" >
  </div>

  <div class="field">
    <label for="pool_post_id"> pool_post_id:</label>
    <input type="text" name="pool_post_id" id="pool_post_id" value="<%= pool_post_id %>" >
  </div>

  <div class="field">
    <label for="post_type"> post_type:</label>
    <input type="text" name="post_type" id="post_type" value="<%= post_type %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="extra_content"> extra_content:</label>
    <input type="text" name="extra_content" id="extra_content" value="<%= extra_content %>" >
  </div>

  <div class="field">
    <label for="tags"> tags:</label>
    <input type="text" name="tags" id="tags" value="<%= tags %>" >
  </div>

  <div class="field">
    <label for="image_file"> image_file:</label>
    <input type="text" name="image_file" id="image_file" value="<%= image_file %>" >
  </div>

  <div class="field">
    <label for="image_link"> image_link:</label>
    <input type="text" name="image_link" id="image_link" value="<%= image_link %>" >
  </div>

  <div class="field">
    <label for="link"> link:</label>
    <input type="text" name="link" id="link" value="<%= link %>" >
  </div>

  <div class="field">
    <label for="other_field"> other_field:</label>
    <input type="text" name="other_field" id="other_field" value="<%= other_field %>" >
  </div>

  <div class="field">
    <label for="schedule_time"> schedule_time:</label>
    <input type="text" name="schedule_time" id="schedule_time" value="<%= schedule_time %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Queue post" />
  </div>

</form>

<a href="#/index">Back</a>