<p>
  <b>Status:</b>
  <%= status_id %>
</p>

<p>
  <b>Acc setting:</b>
  <%= acc_setting_id %>
</p>

<p>
  <b>Pool post:</b>
  <%= pool_post_id %>
</p>

<p>
  <b>Post type:</b>
  <%= post_type %>
</p>

<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Extra content:</b>
  <%= extra_content %>
</p>

<p>
  <b>Tags:</b>
  <%= tags %>
</p>

<p>
  <b>Image file:</b>
  <%= image_file %>
</p>

<p>
  <b>Image link:</b>
  <%= image_link %>
</p>

<p>
  <b>Link:</b>
  <%= link %>
</p>

<p>
  <b>Other field:</b>
  <%= other_field %>
</p>

<p>
  <b>Schedule time:</b>
  <%= schedule_time %>
</p>


<a href="#/index">Back</a>