<h1>Listing site_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_categories.each do |site_category| %>
      <tr>
        <td><%= site_category.name %></td>
        <td><%= link_to 'Show', site_category %></td>
        <td><%= link_to 'Edit', edit_site_category_path(site_category) %></td>
        <td><%= link_to 'Destroy', site_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site category', new_site_category_path %>
